.district-li {
  width: 25%;
  display: flex;
  align-items: center;
  margin: 10px;
}
.district-number {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 500;
}
.district-name {
  font-size: 14spx;
  margin-left: 10px;
  font-weight: 500;
}
@media screen and (max-width: 700px) {
  .district-li {
    width: 15%;
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .district-number {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
  }
  .district-name {
    font-size: 11px;
    margin-left: 10px;
    font-weight: 500;
  }
}
