* {
  box-sizing: border-box;
  margin: 0px;
}
.state-bg-container {
  background-color: #161625;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.state-card {
  width: 85%;
}
.state-heading-card {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.name-of-state {
  background: rgba(2, 132, 199, 0.16);
  color: #0ea5e9;
  font-size: 18px;
  border-radius: 20px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
.state-last-date {
  color: #cbd5e1;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.state-test-title {
  color: #94a3b8;
  font-size: 15px;
  font-weight: 500;
}
.state-total-test {
  color: #94a3b8;
  font-size: 18px;
  font-weight: 500;
}
.state-test-no-container {
  text-align: right;
}
.state-result-card {
  width: 100%;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 20px;
}
.total-district-card {
  width: 100%;
}
.district-heading {
  margin-bottom: 20px;
  color: #cbd5e1;
}
.district-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  color: #94a3b8;
  margin-bottom: 10vh;
}
.graphs-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}
.loader {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .name-of-state {
    background: rgba(2, 132, 199, 0.16);
    color: #0ea5e9;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
  }
  .state-last-date {
    color: #cbd5e1;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .state-test-title {
    color: #94a3b8;
    font-size: 11px;
    font-weight: 500;
  }
  .state-total-test {
    color: #94a3b8;
    font-size: 13px;
    font-weight: 500;
  }
  .state-last-date {
    color: #cbd5e1;
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .state-result-card {
    width: 100%;
    height: 40vh;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .district-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color: #94a3b8;
    margin-bottom: 10vh;
  }
  .district-heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #cbd5e1;
  }
}
