.tagline {
  font-size: 15px;
  color: #94a3b8;
  margin-top: 10px;
}
.icon-container {
  width: 35vh;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.icon {
  font-size: 45px;
  color: #cbd5e1;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.covid-india-a {
  font-size: 20px;

  color: #f8fafc;
  font-size: 'Bree Serif';
  font-weight: 500;
}
.header-span {
  color: #3b82f6;
}
@media screen and (max-width: 700px) {
  .tagline {
    font-size: 12px;
    color: #94a3b8;
    margin-top: 10px;
  }
  .icon-container {
    width: 15vh;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .icon {
    font-size: 22px;
    color: #cbd5e1;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
  }
  .covid-india-a {
    font-size: 15px;
    color: #f8fafc;
    font-size: 'Bree Serif';
    font-weight: 500;
  }
  .header-span {
    color: #3b82f6;
  }
}
